@model IEnumerable<ZdravstveniSistem.Models.Recept>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Obisk.RazlogObiska)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImeZdravila)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doziranje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DneviJemanja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Navodila)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Obisk.RazlogObiska)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImeZdravila)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doziranje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DneviJemanja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Navodila)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
