@model ZdravstveniSistem.Models.Zdravnik

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Zdravnik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priimek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priimek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specializacija)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specializacija)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonskaStevilka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonskaStevilka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LetoZaposlitve)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LetoZaposlitve)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
