@model ZdravstveniSistem.Models.Obisk
<link href="~/Content/ÇustomFontByMarko.css" rel="stylesheet" />
@{
    ViewBag.Title = "Izbriši";
}

<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />

<div class="min-h-screen bg-gray-100 flex items-center justify-center py-10" style="background:border-box">
    <div class="bg-white p-8 rounded-2xl shadow-xl w-full max-w-2xl">
        <h2 class="text-2xl font-bold mb-6 text-red-600">Ali ste prepričani, da želite izbrisati ta obisk?</h2>


        <dl class="space-y-6">
            <div class="flex justify-between">
                <dt class="font-medium text-gray-600">Ime pacienta</dt>
                <dd class="text-gray-800">@Html.DisplayFor(model => model.Pacient.Ime)</dd>
            </div>

            <div class="flex justify-between">
                <dt class="font-medium text-gray-600">Ime zdravnika</dt>
                <dd class="text-gray-800">@Html.DisplayFor(model => model.Zdravnik.Ime)</dd>
            </div>

            <div class="flex justify-between">
                <dt class="font-medium text-gray-600">Datum obiska</dt>
                <dd class="text-gray-800">@Html.DisplayFor(model => model.DatumObiska)</dd>
            </div>

            <div class="flex justify-between">
                <dt class="font-medium text-gray-600">Razlog obiska</dt>
                <dd class="text-gray-800">@Html.DisplayFor(model => model.RazlogObiska)</dd>
            </div>

            <div class="flex justify-between">
                <dt class="font-medium text-gray-600">Diagnoza</dt>
                <dd class="text-gray-800">@Html.DisplayFor(model => model.Diagnoza)</dd>
            </div>

            <div class="flex justify-between">
                <dt class="font-medium text-gray-600">Opombe</dt>
                <dd class="text-gray-800">@Html.DisplayFor(model => model.Opombe)</dd>
            </div>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="mt-8 flex justify-between">
                <input type="submit" value="Izbriši" class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600" />
                @Html.ActionLink("Nazaj na seznam", "Index", null, new { @class = "text-blue-500 hover:underline" })
            </div>
        }
    </div>
</div>
